#headingHigh{
    font-size: 56px;
    text-align: center;
}

#categories{
     font-size: medium;
 }

#labeling{
    font-size: 24px;
    text-align: left;
}

#badge-notify{
    background: #ff2631;
    position:relative;
    top: -20px;
    left: -35px;
}